.dialogAddProject{
    width: 500px;
    height: 300px;
    margin: 150px auto;
    padding: 30px 30px 0px 30px;
    border-radius: 20px;
}
.dialogAddProject>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dialogAddProject > div>form{
    display: flex;
    flex-direction: column;
    width: 360px;
    gap: 5px;
    margin: 30px auto;
}
label{
    font-weight: bold;
}
input{
    width: 250px;
    height: 30px;
    margin-left: 40px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1.5rem;
}

input[type="submit"]{
    width: 150px;
    margin: 15px auto;
    font-size: large;
    height: 25px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(37, 82, 37);
    color: white;
    box-shadow: 0px 0px 10px rgb(38, 96, 38);
}


.dialogAddProject > div>.btnClose{
    display: flex;
    justify-content: end;
}

.closeAddProject{
    height: 30px;
    width: 30px;
    border: 0px solid transparent;
    border-radius: 40px;
}

.closeAddProject:hover{
    box-shadow: 0px 0px 10px rgb(233, 124, 124);
}

.dialogAddProject>div>p{
    font-size: small;
}
.dialogAddProject>div>p:hover{
    color: red;
}

.divProject{
    display: flex;
    justify-content: space-between;
}

.brnDeletProject{
    height: 20px;
    width: 20px;
    border: 0px solid transparent;
    background-image: url(../assets/delete.png);
    background-position: center;
    background-size: contain;
}

.brnDeletProject:hover{
    box-shadow: 0px 0px 10px rgb(233, 124, 124);
}