.dialogTodo{
    width: 500px;
    height: 400px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 20px;
}

.dialogTodo>form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 0px auto;
}

.dialogTodo>form>label{
    font-weight: bold;
}

.dialogTodo>form>input{
    width: 250px;
    height: 20px;
    margin: 0px auto;
    border-radius: 4px;
    border: 1px solid black;
}

.dialogTodo>form>input[type="submit"]:hover{
    background-color: rgb(37, 82, 37);
    color: white;
    box-shadow: 0px 0px 10px rgb(38, 96, 38);
}

.dialogTodo>button{
    display: flex;
    justify-content: end;
}

.containerTodo{
    overflow-y: auto;
}

.dialogTodo>.btnClose{
    display: flex;
    justify-content: end;
}

.closeAddTodo{
    display: flex;
    justify-content: end;
    height: 30px;
    width: 30px;
    border: 0px solid transparent;
    border-radius: 40px;
}

.closeAddTodo:hover{
    box-shadow: 0px 0px 10px rgb(233, 124, 124);
}

.headerProject{
    height: 60px;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
}

.addTodo{
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    gap: 15px;
    cursor: pointer;
}

.addTodo:hover{
    text-decoration: underline;
    transform: scale(1.07);
    color: white;
}

.todoContainer{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.cardTodo{
    width: 300px;
    height: 150px;
    border-radius: 0px 30px 30px 0px;
    padding: 5px;
    border: 0px solid black;
    background-color: #d3d4e0;
    margin: 15px; 
    border-bottom: 0px;
    border-top: 0px;
    border-right: 0px;
    border-width: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTodo > .divBtn{
    width: 100%;
    margin-right: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
}

.cardTodo > .divBtn>button{
    width: 40px;
    height: 49px;
    border: 0px solid transparent;
    background-color: transparent;
}
.cardTodo > .divBtn>button:hover{
    box-shadow: 0px 0px 15px grey;
}

.isdo {
    width: 30px;
    height: 20px;
    margin-left: 230px;
    display: flex;
    justify-content: end;
}


.no{
    background-image: url(../assets/notdo.png);
    background-position:right;
    background-repeat: no-repeat;
    background-size: contain;
}
.yes {
    background-image: url(../assets/do.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}


.low{
    border-color: #5da283;
}
.mid{
    border-color: #fa8969;
    
}

.high{
    border-color: #ff5f63;
}



.low:hover{
    box-shadow: 0px 0px 20px green;
    border-width: 5px;
}
.mid:hover{
    box-shadow: 0px 0px 20px orange;
    border-width: 5px;
}.high:hover{
    box-shadow: 0px 0px 20px red;
    border-width: 5px;
}

.dialogModifTodo{
    width: 500px;
    height: 400px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 20px;
}
.dialogModifTodo>form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 0px auto;
}

.dialogModifTodo>form>label{
    font-weight: bold;
}

.dialogModifTodo>form>input{
    width: 250px;
    height: 20px;
    margin: 0px auto;
    border-radius: 4px;
    border: 1px solid black;
}

.dialogModifTodo>form>input[type="submit"]:hover{
    background-color: rgb(37, 82, 37);
    color: white;
    box-shadow: 0px 0px 10px rgb(38, 96, 38);
}

.dialogModifTodo>button{
    display: flex;
    justify-content: end;
}
.dialogTodo>button{
    display: flex;
    justify-content: end;
}

.dialogShowDetail{
    width: 500px;
    height: 400px;
    margin: 150px auto;
    padding: 20px;
    border-radius: 20px;
}
.dialogShowDetail>form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 0px auto;
}

.dialogShowDetail>form>label{
    font-weight: bold;
}

.dialogShowDetail>form>input{
    width: 250px;
    height: 20px;
    margin: 0px auto;
    border-radius: 4px;
    border: 1px solid black;
}

.dialogShowDetail>form>input[type="submit"]:hover{
    background-color: rgb(37, 82, 37);
    color: white;
    box-shadow: 0px 0px 10px rgb(38, 96, 38);
}

.dialogShowDetail>button{
    display: flex;
    justify-content: end
}

@media screen and (max-width:600px) {
    .todoContainer{
        margin-top: 10px;
    }
    .headerProject{
        font-size:medium;
        align-items: center;
    }
    .addTodo>h3{
        display: none;
    }
    
    .cardTodo{ 
        border-radius: 0px 20px 30px 0px;
    }
    .dialogTodo{
        width: 350px;
    }
    .dialogTodo>form{
        width: 330px;
    }
    .dialogTodo>form>input{
        margin-left: 0;
    }
    .dialogTodo>form>textarea{
        width: 200px;
    }
}
   