*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

section{
    height: 96vh;
    display: flex;
}


aside{
    width: 15vw;

    padding: 20px;
    gap: 10px;
    background-color: #e2e2e2;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside>ul{
    overflow-y: auto;
}
aside>ul>li{
    cursor: pointer;
    list-style: none;
    margin: 10px;
}

/* pour afficher le button du aside sur un tel */
aside>input[type="button"]{
    display: none;
}


aside>ul>li>details>div>p{
    margin-left: 10px;
}


aside>ul>li>details>div>p:hover{
    margin-left: 14px;
    text-decoration: underline;
    color: #4283b7;
    transform: scale(1.1);
}



.addProject{
    display: flex;
    align-items:center;
    justify-content: end;
    cursor: pointer;
}

.addProject>h4:hover{
    color: #4283b7;
    transform: scale(1.05);
}

.addProject>button:hover{
    transform: rotate(0.05turn);
}

.showPersonalized{
    background-image: url(./assets/addPersonalized.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25px;
    width: 25px;
    border: 0px solid transparent;
    margin-right: 5px;
}

.menuButton{
    display: none;
}


.containerTodo{
    background-color:#717b78;
    width: 85vw;
    padding: 20px;
}


footer{
    height: 4vh;
    background-color: #2b2e36;
    text-align: center;
    font-size: x-small;
}
footer>a{
    color: white;
    text-decoration: none;
}


@media screen and (max-width:600px) {
    aside{
        display: none;
    }
    .menuButton{
        display: inline;

    }
}
